@font-face {
    font-family: PWHappyChristmas;
    src: url(fonts/PWHappyChristmas.ttf);
    font-weight: bold;
}

body {
    width: 100%;
    height: 100%;
    background-color: #202020;
    overflow: hidden;
}

div {
    position:absolute;
    height:100%;
    width:100%;
    display: table;
}

h1 {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    color: #FFFFFF;
    font-family: PWHappyChristmas;
}

p {
    color: white;
    position: absolute;
    bottom: 0;
    right: 5vw;
    font-size: 5vw;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    h1 {
        font-size: 9em;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 7.5em;
    }
}